html
  head
    title Cross
    link(rel="stylesheet", href="./css/style.css")
    script(src="/socket.io/socket.io.js")
    script(src="./js/jquery-3.3.1.min.js")
    script(src="./js/cross3.js")
  body
    p#cross + 
